@keyframes rise{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
    }
}

body{
    background-color: #020025;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#menu{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgba(22, 18, 44, 0.774);
    display: none;
    font-family: inherit;
    color: inherit;
}
input, label, button{
    font-family: inherit;
    color: white;
}
button{
    background-color: rgba(255, 255, 255, 0.5)
}

#menu-toggle{
    position: fixed;
    right: 0;
    top: 0;
}
#menu{
    
}
#menu-toggle:focus-within #menu{
    display: block;
}
#vol-display{
    position: fixed;
    /* display: flex;
    flex-grow: 1; */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    outline: red 5px solid;
    z-index: -1;
}
#key-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-self: flex-end;
    justify-content: space-around;
}

.key{
    position: relative;
    text-align: center;
    background-color: rgba(8, 37, 165, 0.493);
    /* aspect-ratio: 1; */
    padding: 20px;
    min-height: 100%;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color 0.1s ease-in;
    /* TODO: MAKE EVERY ASPECT OF THE KEY IN A KEY CONTAINER SO THAT Z INDEX WORKS */
    /* z-index: 1; */
}
.key::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 150, 219, 0.295);
    z-index: -1;
    width: 100%;
    height: 100%;
    right: -15%;
    bottom: -15%;
    border-radius: 15px;
    transition: 0.075s ease-out;
    transition-property: background-color transform;
}
.key.key-pressed{
    background-color: rgba(8, 31, 165, 0.562);
    
}
.key.key-pressed::before{
    transform: translateY(5%);
    background-color:rgba(0, 219, 201, 0.685);
}
.keytrail{
    position: relative;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, white 0%, white 60%, transparent 100%);
    z-index: -1;
}
.key-trail-container{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;

}