body{
    width: 100%;
    height: 100vh;

}



#main{
    transform-style: preserve-3d;
    perspective: 10000px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes p-change{
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
        perspective(450px) 
        translate(-900px,-900px);
    }
    50%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
        perspective(450px) 
        translate(0,0)

    }
    100%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
        perspective(450px) 
        translate(0,-900px);
    }
}



.cube{
    position: absolute;
    top: 50%;
    left: 50%;
    --size: 900px;
    --size-h: calc(var(--size) / 2);
    width: var(--size);
    height: var(--size);
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    border: 5px solid black;
    /* perspective: 1000px;
    perspective-origin: center center; */
    div{
        transform-style: preserve-3d;
        position: absolute;
        width: var(--size);
        height: var(--size);
        border: 1px solid red;
    }
    >div{

        >div{
            transform: translateZ(var(--size-h));
            >div{
                /* backface-visibility: hidden; */
            }
        }


        &.front{
            transform: rotateX(180deg);
            >div{
                /* scale: -1; */
            }
        }
        &.back{
            transform: rotateX(0deg);
        }
        &.left{
            transform: rotateY(-90deg);
        }
        &.right{
            transform: rotateY(90deg);
        }
        &.top{
            transform: rotateX(90deg);
        }
        &.bottom{
            transform: rotateX(-90deg);
        }


    }
}


@keyframes changex{
    from{
        transform: rotateX(0deg);

    }
    to{
        transform: rotateX(180deg);

    }
}
@keyframes changey{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(180deg);
    }
}

@keyframes changep{
    from{
        perspective-origin: 0 0;
    }
    to{
        perspective-origin: 100% 100%;
    }
}
