html{
    pointer-events: none;
}
body{
    pointer-events: none;
    width: 100%;
    height: 100vh;
}

#main{
    pointer-events:none;
    transform-style: preserve-3d;
    /* perspective: 1500px; set in html */
    transition: perspective .35s ease-out;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-shadow: .05em .05em 0px var(--theme-light);

}

.cube{
    pointer-events:none;
    position: absolute;
    top: 50%;
    left: 50%;
    --width: 130vw;
    --height: var(--width);
    width: var(--width);
    height: var(--height);
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    /* border: 5px solid black; */
    transition: transform 1.5s cubic-bezier(0.25, 1, 0.542, 1);
    /* perspective: 1000px;
    perspective-origin: center center; */
    >div.orientation, >div>div.offset, 
        >div>div>div.scale, >div>div>div>div.ind-rot{ /* lmao */
        transform-style: preserve-3d;
        position: absolute;
        box-sizing: border-box;
        transform-origin: calc(var(--width) / 2) calc(var(--height) / 2);
    }
    >div.orientation{
        /* orientation */
        pointer-events: none;
        >div.offset{
            /* offset */
            pointer-events: auto;
            transform: translateZ(calc(var(--width) / 2));
            &.top, &.bottom{
                /* transform:  */
            }
            
            &:not(.active):not(.inactive){
                >div.scale{
                    font-variation-settings: var(--fw-light);
                }
                &:hover{
                    width: var(--width);
                    height: var(--height);
                    cursor: pointer;
                    >div.scale{
                        font-variation-settings: var(--fw-normal);
                        transform: translateZ(calc(var(--width) * 0.05));
                        color: var(--theme-dark-other);
                        >div.ind-rot{
                            outline: 10px solid var(--theme-light-other);
                            box-shadow: inset 0 0 40px 10px rgba(var(--theme-light-other-vals), 0.9);
                            &::before, &::after, >.decor::before, >.decor::after{
                                opacity: 1;
                                background-color: var(--theme-light-other);
                                font-size: 10vh;
                                color: var(--theme-dark-other);
                            }
                            
                            >.decor-flash{
                                /* animation: decor-flash .75s ease-out; */
                            }
                            
                            &::before{
                                transform: rotateX(-45deg);
                            }
                            &::after{
                                transform: translateY(-100%)rotateZ(180deg)rotateX(-45deg);
                            }
                            >.decor::before{
                                transform: translateX(100%)rotateY(45deg)rotateZ(180deg);
                            }
                            >.decor::after{
                                transform: rotateY(-45deg);
                            }
                        }
                    }
                }
            }
            
            
            >div.scale{
                /* scale */
                /* backface-visibility: hidden; makes pointer events not work in chrome? */

                transition: transform .35s var(--ease-backtrack);
                >div.ind-rot{
                    /* ind. rotation / transforms */
                    &.active{
                        box-shadow: inset 0 0 40px 10px rgba(var(--theme-dark-vals), 0.9);
                        >.decor-flash{
                                animation: decor-flash .75s ease-out;
                        }
                    }
                    text-shadow: .05em .05em 0px rgba(var(--theme-dark-vals), 0.2);
                    font-size: calc(var(--width) * 0.05);
                    outline: 10px var(--border-dark);
                    backface-visibility: hidden;
                    display: inline-block;
                    position: relative;
                    width: var(--width);
                    height: var(--height);
                    transition: color .15s, outline .35s, font-variation-settings .35s;

                    &::before,&::after, >.decor::before, >.decor::after{
                        /* content: attr(--txt); */
                        opacity: 0;
                        --size: 10vh;
                        font-size: var(--size);
                        color: blue;
                        position: absolute;
                        background-color: red;
                        text-align: center;
                        /* width: var(--size);
                        height: var(--size); */
                        pointer-events: none;
                        transition: var(--ease-backtrack);
                        transition-property: font-size, background-color, color, opacity, transform;
                        transition-duration: .75s, .45s, 1s, .35s, .35s, .35s;
                    }
                    /* 
                    up
                    down
                    left
                    righjt */
                    &::before{
                        /* up */
                        width: 100%;
                        left: 0;
                        top: 0;
                        transform-origin: center bottom;
                        transform: rotateX(450deg);
                        /* make rotations for these later */
                    }
                    &::after{
                        /* down */
                        width: 100%;
                        /* rotate: 90deg; */
                        right: 0;
                        bottom: 0;
                        transform-origin: center bottom;
                        transform: translateY(-100%)rotateZ(180deg)rotateX(450deg);
                    }
                    >.decor, >.decor-flash{
                        position: absolute;
                        transform-style: preserve-3d;
                        top: 0;
                        left: 0;
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                    }
                    >.decor{
                        &::before{
                            /* left */
                            writing-mode: vertical-rl;
                            height: 100%;
                            left: 0;
                            top: 0;
                            transform-origin: left center;
                            transform: translateX(100%)rotateY(-450deg)rotateZ(180deg);
                        }
                        &::after{
                            /* right */
                            writing-mode: vertical-rl;
                            height: 100%;
                            right: 0;
                            top: 0;
                            transform-origin: left center;
                            transform: rotateY(450deg);
                        }
                    }
                    >.decor-flash{
                        background-color: rgba(var(--theme-light-other-vals), 0.5);
                        opacity: 0;
                        transform: none;
                    }

                    &.front{
                        transform: rotateX(180deg);
                    }
                    &.back{
                        transform: rotateX(180deg);
                    }
                    &.left{
                        transform: rotateY(180deg);
                    }
                    &.right{
                        transform: rotateY(180deg);
                    }
                    &.top{
                        transform: rotateX(180deg);
                    }
                    &.bottom{
                        transform: rotateX(180deg);
                    }
                    
                }
            }
        }


        &.front{
            --desc: "bou't me";
            transform: rotateX(180deg);
        }
        &.back{
            --desc: "oneko";
            transform: rotateX(0deg);
        }
        &.left{
            --desc: "lef";
            transform: rotateY(-90deg);
        }
        &.right{
            --desc: "work exp";
            transform: rotateY(90deg);
        }
        &.top{
            --desc: "minecraft bee";
            transform: rotateX(90deg);
        }
        &.bottom{
            --desc: "bot";
            transform: rotateX(-90deg);
        }
        &.inactive{
            display: none;
            pointer-events: none !important;
        }


    }
}

@keyframes decor-flash{
    0%{
        opacity: .8;
        transform: translateZ(0)scale(1);
    }
    100%{
        opacity: 0;
        transform: translateZ(25px)scale(1.25);
    }
}

#ms-toggle{
    position: fixed;
    transform-style: preserve-3d;
    pointer-events: all;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: var(--theme-light);
    transition: border-color .35s;
    border: var(--border-dark);
    border-width: 5px 0 0 5px;
    cursor: pointer;

    &::before, &::after{
        content: '';
        position: absolute;
        height: 0px;
        background-color: var(--theme-dark);
        mix-blend-mode: plus-lighter;
        /* pointer-events: none; */
        transition: height 0.45s var(--ease-more-out);
        width: 100%;
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
        right: 0;
    }
    >span{
        font-variation-settings: var(--fw-normal);
        transition: color .35s, font-variation-settings .75s;
    }

    &:hover, &:focus-within{
        border-color: var(--theme-light);
        background-color: var(--theme-dark);
        >span{
            font-variation-settings: var(--fw-bold);
            color: var(--theme-light);
        }
        &::before, &::after{
            height: 100%;
        }
    }


}
#ms-tip{
}

#ms-menu{
    position: absolute;
    transform-style: preserve-3d;
    --menuw: 50px;
    --menuh: var(--menuw);
    --entry-time: .75s;

    width: var(--menuw);
    height: var(--menuh);
    bottom: -100%;
    right: -100%;
    font-size: .125em;

    --t-n: .35s ease;
    --t-r: .4s var(--ease-more-in);
    transition: var(--t-n), 
        var(--t-n), var(--t-r), var(--t-r), var(--t-r);
    transition-property: bottom, right, width, height, font-size;
    transition-delay: 0s, 0s, .55s, .55s, .55s;
    /* outline: 2px dashed black; */
}
#ms-toggle:focus-within #ms-menu{
    animation: ms-flipin var(--entry-time) ease-out forwards;
    animation-delay: 0s, calc(.75 * var(--entry-time));
    animation-iteration-count: 1, 20;

    --menuw: 400px;
    --menuh: 200px;
    font-size: 1.5em;
    font-feature-settings: var(--fw-bold);
    font-weight: bold;

    bottom: calc(50vh - var(--menuh) / 2);
    right: calc(50vw - var(--menuw) / 2);
}

@keyframes ms-flipin{
    0%{
        transform: none;
        rotate: 1 2 1 0deg;
    }
    50%{
        transform: 
                translateZ(-500px)
                translateX(75px)
                translateY(-50px);
    }

    70%{
        transform: 
                translateZ(-300px)
                translateX(-150px)
                translateY(100px);
    }

    85%{
        rotate: 1 2 -1 360deg;
    }

    100%{
        transform:
                translateZ(0px)
                translateX(0px);
        rotate: 1 -2 1 360deg;
    }

}

#ms-container{
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--theme-light);
    --rot-time: .75s;
    transition: rotate var(--rot-time);
    animation: ms-pop-2 var(--rot-time) ease-out;
    &.ms{
        rotate: 1.7321 1 0 180deg; /* 30 deg vector */
        animation: ms-pop-1 var(--rot-time) ease-out;
        >.to-normal{
            >.container{
                /* animation: flickering .17s; */
                >.container{
                }
            }
        }
    }
    transform-style: preserve-3d;
    >.to-ms, >.to-normal{
        background-color: var(--theme-dark);
        box-shadow: 10px 10px 0px 0px var(--theme-light);
        ::selection{
            background-color: var(--theme-light);
            color: var(--theme-dark);
        }
        transform-style: preserve-3d;
        position: absolute;
        width: 100%;
        height: 100%;
        outline: 4px dashed var(--black-white);
        animation: outline-flash steps(2) infinite .75s;
        backface-visibility: hidden;
        padding: 1em;
        >.container{
            width: 100%;
            height: 100%;
            animation-delay: calc(var(--rot-time));
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;
            text-align: center;
            >p{
                margin-bottom: 1em;
            }

            >.container{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                >button{

                    background-color: var(--theme-dark);
                    --shadow-color: var(--theme-light);
                    box-shadow: 5px 5px 0px 0px var(--shadow-color);
                    transition: box-shadow .25s, transform .25s;
                    
                    &.no{
                        --shadow-color: var(--theme-dark-other);
                        background-color: var(--theme-light);
                        color: var(--theme-dark);
                    }
                    &:hover{
                        box-shadow: 8px 8px 0px 0px var(--shadow-color);
                        transform: translateY(-5px);
                    }
                    &:active{
                        box-shadow: 2px 2px 0px 0px var(--shadow-color);
                        transform: translate(8px, 8px);
                    }
                    ::before, ::after{
                        /* content: ""; */
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        box-shadow: inset 0 0 20px 5px rgba(var(--theme-light-vals), 0.9);
                    }
                    &::after{
                        box-shadow: inset 0 0 -20px -5px rgba(var(--theme-light-vals), 0.9);
                    }

                }

            }
            /* animation-iteration-count: 7; */
        }
    }
    &:not(.ms) >.to-ms{
        >.container{
            /* animation: flickering .17s; */
        }
    }
    >.to-normal{
        transform: rotateY(180deg)rotateZ(120deg);
    }
}

@keyframes ms-pop-1{
    0%{
        transform: none;
    }
    30%{

        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes ms-pop-2{
    0%{
        transform: none;
    }
    30%{

        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes outline-flash{
    from{
        outline-offset: 0px;
        outline-width: 4px;
    }
    to{
        outline-offset: -4px;
        outline-width: 8px;
    }
}