body{
    /* pointer-events: none; */
    width: 100%;
    height: 100vh;
}

#main{
    pointer-events:none;
    transform-style: preserve-3d;
    /* perspective: 1500px; set in html */
    transition: perspective .35s ease-out;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-shadow: .05em .05em 0px var(--theme-light);

}

.cube{
    pointer-events:none;
    position: absolute;
    top: 50%;
    left: 50%;
    --width: 130vw;
    --height: var(--width);
    width: var(--width);
    height: var(--height);
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    /* border: 5px solid black; */
    transition: transform 1.5s cubic-bezier(0.25, 1, 0.542, 1);
    /* perspective: 1000px;
    perspective-origin: center center; */
    >div.orientation, >div>div.offset, 
        >div>div>div.scale, >div>div>div>div.ind-rot{ /* lmao */
        transform-style: preserve-3d;
        position: absolute;
        box-sizing: border-box;
        transform-origin: calc(var(--width) / 2) calc(var(--height) / 2);
    }
    >div.orientation{
        /* orientation */
        pointer-events: none;
        >div.offset{
            /* offset */
            pointer-events: auto;
            transform: translateZ(calc(var(--width) / 2));
            &.top, &.bottom{
                /* transform:  */
            }
            
            &:not(.active):not(.inactive){
                >div.scale{
                    font-variation-settings: var(--fw-light);
                }
                &:hover{
                    width: var(--width);
                    height: var(--height);
                    cursor: pointer;
                    >div.scale{
                        font-variation-settings: var(--fw-normal);
                        transform: translateZ(calc(var(--width) * 0.05));
                        color: var(--theme-dark-other);
                        >div.ind-rot{
                            outline: 10px solid var(--theme-light-other);
                            box-shadow: inset 0 0 40px 10px rgba(var(--theme-light-other-vals), 0.9);
                            &::before, &::after, >.decor::before, >.decor::after{
                                opacity: 1;
                                background-color: var(--theme-light-other);
                                font-size: 10vh;
                                color: var(--theme-dark-other);
                            }
                            
                            >.decor-flash{
                                /* animation: decor-flash .75s ease-out; */
                            }
                            
                            &::before{
                                transform: rotateX(-45deg);
                            }
                            &::after{
                                transform: translateY(-100%)rotateZ(180deg)rotateX(-45deg);
                            }
                            >.decor::before{
                                transform: translateX(100%)rotateY(45deg)rotateZ(180deg);
                            }
                            >.decor::after{
                                transform: rotateY(-45deg);
                            }
                        }
                    }
                }
            }
            
            
            >div.scale{
                /* scale */
                /* backface-visibility: hidden; makes pointer events not work in chrome? */

                transition: transform .35s var(--ease-backtrack);
                >div.ind-rot{
                    /* ind. rotation / transforms */
                    &.active{
                        box-shadow: inset 0 0 40px 10px rgba(var(--theme-dark-vals), 0.9);
                        >.decor-flash{
                                animation: decor-flash .75s ease-out;
                        }
                    }
                    text-shadow: .05em .05em 0px rgba(var(--theme-dark-vals), 0.2);
                    font-size: calc(var(--width) * 0.05);
                    outline: 10px var(--border-dark);
                    backface-visibility: hidden;
                    display: inline-block;
                    position: relative;
                    width: var(--width);
                    height: var(--height);
                    transition: color .15s, outline .35s, font-variation-settings .35s;

                    &::before,&::after, >.decor::before, >.decor::after{
                        /* content: attr(--txt); */
                        opacity: 0;
                        --size: 10vh;
                        font-size: var(--size);
                        color: blue;
                        position: absolute;
                        background-color: red;
                        text-align: center;
                        /* width: var(--size);
                        height: var(--size); */
                        pointer-events: none;
                        transition: var(--ease-backtrack);
                        transition-property: font-size, background-color, color, opacity, transform;
                        transition-duration: .75s, .45s, 1s, .35s, .35s, .35s;
                    }
                    /* 
                    up
                    down
                    left
                    righjt */
                    &::before{
                        /* up */
                        width: 100%;
                        left: 0;
                        top: 0;
                        transform-origin: center bottom;
                        transform: rotateX(450deg);
                        /* make rotations for these later */
                    }
                    &::after{
                        /* down */
                        width: 100%;
                        /* rotate: 90deg; */
                        right: 0;
                        bottom: 0;
                        transform-origin: center bottom;
                        transform: translateY(-100%)rotateZ(180deg)rotateX(450deg);
                    }
                    >.decor, >.decor-flash{
                        position: absolute;
                        transform-style: preserve-3d;
                        top: 0;
                        left: 0;
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                    }
                    >.decor{
                        &::before{
                            /* left */
                            writing-mode: vertical-rl;
                            height: 100%;
                            left: 0;
                            top: 0;
                            transform-origin: left center;
                            transform: translateX(100%)rotateY(-450deg)rotateZ(180deg);
                        }
                        &::after{
                            /* right */
                            writing-mode: vertical-rl;
                            height: 100%;
                            right: 0;
                            top: 0;
                            transform-origin: left center;
                            transform: rotateY(450deg);
                        }
                    }
                    >.decor-flash{
                        background-color: var(--theme-light-other);
                        opacity: 0;
                        transform: none;
                    }

                    &.front{
                        transform: rotateX(180deg);
                    }
                    &.back{
                        transform: rotateX(180deg);
                    }
                    &.left{
                        transform: rotateY(180deg);
                    }
                    &.right{
                        transform: rotateY(180deg);
                    }
                    &.top{
                        transform: rotateX(180deg);
                    }
                    &.bottom{
                        transform: rotateX(180deg);
                    }
                    
                }
            }
        }


        &.front{
            --desc: "bou't me";
            transform: rotateX(180deg);
        }
        &.back{
            --desc: "oneko";
            transform: rotateX(0deg);
        }
        &.left{
            --desc: "lef";
            transform: rotateY(-90deg);
        }
        &.right{
            --desc: "work exp";
            transform: rotateY(90deg);
        }
        &.top{
            --desc: "minecraft bee";
            transform: rotateX(90deg);
        }
        &.bottom{
            --desc: "bot";
            transform: rotateX(-90deg);
        }
        &.inactive{
            display: none;
            pointer-events: none !important;
        }


    }
}

@keyframes decor-flash{
    0%{
        opacity: .8;
        transform: translateZ(0)scale(1);
    }
    100%{
        opacity: 0;
        transform: translateZ(25px)scale(1.25);
    }
}