@keyframes b-load-in{
    0%{
        height: 0;
        opacity: 0;
    }
}
@keyframes b-load-1{
    50%{
        top: -50px;
        /* rotate: 0deg; */
        /* opacity: 1; */
    }
    100%{
        top: -20px;
        left: 70%;
        rotate: 30deg;
        opacity: 0;
    }
}

@keyframes b-load-2{
    50%{
        top: -50px;
        /* rotate: 0deg; */
        /* opacity: 1; */
    }
    100%{
        top: -20px;
        left: 70%;
        rotate: 30deg;
        opacity: 0;
    }
}
@keyframes b-load-3{
    55%{
        top: -150px;
        /* left: 00px; */
        opacity: 1;
    }
    100%{
        top: -135px;
        transform: translate(0, 0);
        left: -200px;
        width: 500px;
        rotate: -25deg;
        opacity: 0;
    }
}
@keyframes b-txt-yay{
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 100px;
        left: 100%;
        font-size: 100px;
        rotate: 50deg;
    }
}


#blog{
    position: relative;
    padding-bottom: 8px; /* scroll progress bar height */
    >article{
        line-height: var(--line-height);
        border: var(--border-dark); /*border placeholder*/
        padding: 30px 145px;
        font-size: 0.875em;
        hyphens: auto;
        hyphenate-character: '-à¶ž';
        word-wrap: break-word;
        >.post-header{
            margin: 1em 0;
            >.post-misc>p{
                text-indent: 0;
            }
        }
        .post-wordcount{
            text-align: right; 
            margin-right: 1em; 
            margin-left: auto; 
            text-indent: 0;
            border: var(--border-dark);
            border-width: 2px 0;
            width: fit-content;
        }
    
        h1,h2,h3,h4,h5,h6{
            margin: 1em 0;
        }
        p{
            margin: 1em 0;
            text-indent: 2em;
        }
        img{}
        ul{}
        ol{}
        blockquote{}
        code{
            display: block;
            backdrop-filter: brightness(0.5);
            padding: 5px;
            line-height: 100%;
            text-indent: 0;
            hyphens: none;
            min-inline-size: 100%;
        }
        .footnote-list{
                width: 100%;
                display: flex;
                flex-direction: row;
                font-size: 0.5em;
                flex-wrap: wrap;
                gap: 4em;
                >li{
                        max-width: 25%;
                }
        }
        pre{}
        table{}
        figure{}
        figcaption{}
        hr{}
        a{}
        fieldset{
            border-color: var(--theme-dark-other);
            >legend{
                text-decoration: underline;
                text-decoration-thickness: 0.1em;
            }
        }
    }
    #blog-loading{
        pointer-events: none;
        overflow: visible;
        max-width: 100%;
        position: absolute;
        inset: 0;

        /* top: 0;
        left: 50%;
        transform: translate(-50%, 0) rotate(10deg); */
        height: 1000px;
        --b-load-1-delay: 1.9s;
        --b-load-1-time: 2s;
        --b-load-2-time: 2s;
        
        --b-load-3-time: 2.2s;
        >div.container{
            position: absolute;
            width: auto;
            height: fit-content;
            overflow: visible;
            >img{
                max-width: 350px;
                /* outline: 2px black solid;
                width: 350px;
                height: 350px; */
                
                &.grabbing.img-2{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        >img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0) rotate(10deg);
            min-width: 400px;
            width: 400px;
            max-width: 400px;
            height: auto;
            user-select: none;
            animation: forwards ease-out;
            &.b-load-1{
                animation-name: b-load-1;
                animation-delay: var(--b-load-1-delay);
                animation-duration: var(--b-load-1-time);
            }
            
            &.b-load-2{
                animation-name: b-load-2;
                animation-duration: var(--b-load-2-time);
                animation-delay: var(--b-load-1-delay);
            }
            &.b-load-3{
                animation-name: b-load-3;
                animation-duration: var(--b-load-3-time);
            }

        }
        &.yay > img.b-load-1{
            animation-delay: 0s;
        }
        >#blog-loading-txt{
            z-index: 2;
            position: absolute;
            pointer-events: none;
            top: 200px;
            left: 50%;
            transform: translate(-50%, 0) rotate(-15deg);
            color: var(--theme-dark);
            white-space: nowrap;
            &.yay{
                animation: b-txt-yay var(--b-load-2-time)
                    ease-out forwards;
            }
        }
    }

    >nav{
        display: flex;
        justify-content: space-between;
        >button{
            /* all: unset;
            box-shadow: none;
            background: none;
            border: none;
            text-decoration: none;
            outline: none; */
            all: unset;
            text-decoration: underline;
            font-size: 0.75em;
            cursor: pointer;
        }
    }
}




#demark-bar{
    display: none;
    &.editing{
        display: block;
        height: 100vh;
        width: 2px;
        background-color: rgba(var(--theme-dark-vals), 0.25);
        position: sticky;
        float: right;
        shape-outside: inset(50%);
        top: 0;
        right: var(--main-width);
        
    }
}