:root{
    --main-width: 1000px;
    --header-height: 2.67em;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
    scroll-padding-bottom: 2em;
}

a{
    transition: 0.75s ease;
    transition-property: color, text-shadow, outline-color;
    outline: 5px solid rgba(var(--theme-dark-vals), 0.1);
    text-shadow: 0 0 0.05em var(--theme-dark);
    &.prominent{
        outline-color: rgba(var(--theme-dark-vals), 0.2);
    }
    &:hover{
        text-shadow: 0 0 0.25em var(--theme-dark);
        outline-color: rgba(var(--theme-dark-vals), 0.25);
        text-decoration-thickness: 0.1em;
    }
}

#page{
    /* margin-top: var(--header-height); */
    padding: var(--header-height) 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    color: inherit;
    >div{

    }
    &.editing{
        overflow: visible; /* fixes position sticky for the blog writer */ 
        /* overflow-x: hidden; */
    }
}

/* cd is 338 px */
@media screen and (max-width: 1350px){
    body{
        .track{
            display: none;
        }
        #page{
            overflow: visible;
        }
        #page-left{
            flex-grow: 1;
            >*{
                display: none;
            }
        }
        #page-right{
            flex-grow: 2;
            >*{
                display: none;
            }
        }
        #main{
            /* width: 100%; */
            --bg-opacity: 0.5;
            width: calc(var(--main-width) - 100px);
            margin: 0 auto;
            >section{
                /* backdrop-filter: blur(8px); */
            }
        }
        #cd-player{
            /* later have a openable side menu for this */
            display: none;
        }
        #blog{
            >article{
                padding: 30px 75px;
            }
        }
    }
    
    
}


@keyframes theme-glow{
    0%{
        filter: drop-shadow(0px 0px 1px var(--theme-dark-other));
    }
    25%{
        filter: drop-shadow(0px 0px 2px var(--theme-dark-other));
    }
    100%{
        filter: drop-shadow(0px 0px 1px var(--theme-dark-other));
    }
}
@keyframes rotate-full{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
:root.dark #theme-switch{
    rotate: calc( 180deg);
    top: -50px;
    >.ts-container{
        rotate: 180deg;
    }
    &:hover{
        transform: translate(-1vw, 1vh);
        >.ts-container{
            rotate: calc(180deg - 3deg);
        }
    }
}
#theme-switch:hover{
    cursor: pointer;
    transform: translate(-1vw, 1vh);
    >.ts-container{
        rotate: -3deg;
        >.container>svg{
            animation-play-state: paused !important;
            rotate: 270deg;
            &#sun-svg{
                rotate: -270deg;
            }
            filter: drop-shadow(0px 0px 3px var(--theme-dark-other));
        }
    }
}

#theme-switch{
    --scale: 3;
    --slant: 15deg;
    --speed: .75s;
    position: fixed;
    z-index: 2;
    top: calc(50px + var(--header-height)); /*2em (h1) + 0.67em from margin-block-startend  user-stylesheet*/
    right: 0px;
    transform-origin: -50vw 50svh; /* OH MY GOD THANK YOU LORD AND SAVIOR DVH CHROSIST OMG */
    /* nvm dvh is like really laggy lol */
    transition: var(--speed) var(--ease-backtrack);
    transition-property: rotate, transform, top, right;
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    >.ts-container{
        background-color: var(--theme-light-other);
        transition-property: background-color, rotate;
        transition-duration: 2.65s, var(--speed);
        transition-timing-function: var(--ease-more-in), var(--ease-backtrack);
        display: flex;
        flex-direction: row;
        transform: skew(var(--slant));
        &::before, &::after{
            content: '';
            position: absolute;
            background-color: rgb(var(--theme-light-other-vals), 0.25);
            mix-blend-mode: plus-lighter;
            height: 4px;
            --speed: 10s;
        }
        &::before{
            bottom: 0;
            left: 0;
            height: 100%;
            animation: border-anim-lr var(--speed) linear infinite;
        }
        &::after{
            bottom: 0;
            left: 0;
            animation: border-anim-bt var(--speed) linear infinite;
            width: 100%;
            animation-delay: calc(var(--speed) * -1 / 4);
        }
        
    }
    >.ts-container>.container{
        height:100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(calc(-1 * var(--slant)));
        >svg{
            animation: rotate-full 2s ease-in-out infinite;
            transform-origin: 50% 50%;
            transition: 1.6s var(--ease-backtrack);
            transition-property: rotate, filter;
            scale: var(--scale);
            fill: var(--theme-dark-other);
            height: 1.5rem;
            width:  1.5rem;
            filter: drop-shadow(0px 0px 1px var(--theme-dark-other));
        }
        #sun-svg{
            animation-direction: reverse;
        }
    }
}


#page-left{
    flex-grow: 1;
    z-index: 1;
    /* width: fit-content; */
    max-width: 250px;
    >*{
        margin-left: auto;
        margin-right: 0;
        text-align: right;
    }
    &.editing{
        display: flex;
        flex-direction: row;
    }
}
:root.dark #left-menu-options>div{
    &::before, &::after{
        mix-blend-mode: multiply !important;
    }
}

#left-menu-outer{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;

    border: var(--border);
    border-width: 5px 0;
    transform: translateZ(var(--z-offset));

    >#left-menu-options{
        user-select: none;
        >div{
            &.credits{
                a{
                    font-weight: bold;
                }
                p{
                    &::before{
                        content: '//';
                    }
                    margin: 0.5em 0;
                    text-indent: 1em;
                }
            }

            position: relative;
            text-align: right;
            &::before, &::after{
                content: '';
                position: absolute;
                height: 0px;
                background-color: var(--theme-dark);
                    mix-blend-mode: plus-lighter;
                /* pointer-events: none; */
                transition: height 0.45s var(--ease-more-out);
                width: 100%;
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
                right: 0;
            }
            >span{
                font-variation-settings: var(--fw-light);
                transition: color .35s, font-variation-settings .75s;
            }
            
            &:hover{
                >span, >span>a{
                    font-variation-settings: var(--fw-bold);
                    color: var(--theme-light);
                }
                &::before, &::after{
                    height: 100%;
                }
            }
        }
        
    }
    >#left-menu{
        pointer-events: none;
        transform-style: preserve-3d;
        position: absolute;
        top: 100%;
        left: 100%;
        display: flex;
        flex-direction: column;
        width: 600px;
        /* background-color: var(--theme-light); */
        >*{
            text-align: left;
            width: 100%;
            border: 5px var(--border);
            transform-origin: 50% 100%;
            background-color: var(--theme-light);
            transition: ease;
            transition-property: transform, filter;
            transition-duration: 0.5s, 1s;
            filter: brightness(0.75);
            /* transition: opacity 0.15s ease-out; */
            &::before, &::after{
                content: '';
                position: absolute;
                height: 100%;
            }
            /* &::before{
                width: 100%;
                bottom: 0;
                transition: height .5s var(--ease-more-in);
                background-color: var(--theme-dark);
            } */
            &::after{
                top: 0;
                pointer-events: none;
                background-color: rgba(var(--theme-dark-vals), 0.1);
            }
        }
        >.active{
            transform: rotateX(-35deg);
            filter: brightness(1.05);
            text-shadow: 0 0 2px var(--theme-dark);
            /* &::before{
                height: 0;
            } */
            &::after{
                animation: border-anim-lr 5s var(--ease-more-in) infinite;
            }
        }
        /* opacity: 0; */
        transform-origin: 50% 0%;
        transform: rotateX(35deg) translateY(-1000px);
        transition: var(--ease-backtrack);
        transition-property: transform, top;
        transition-duration: 0.5s, 0.5s;
        opacity: 0;
        /* animation: perspective-shift 2s infinite alternate; */
        >div.credits{
            p{
                &::before{
                    content: '//';
                }
                margin: 0.5em 0;
                text-indent: 1em;
            }
        }
    }
    
    perspective: 1000px;
    perspective-origin: 100% 100%;
    &:hover>#left-menu{
        pointer-events: all;
        opacity: 1;
        transform: rotateX(35deg) translateY(0%);
        top: -5px;
        /* animation: perspective-shift 2s infinite alternate; */
    }
}

#visitor-stats{
    font-size: 16px;
    max-width: 100%;
    /* overflow-x: hidden; */
    >p{
        width: max-content;
        background-color: var(--theme-dark);
        color: var(--theme-light);
        >span{
                white-space: nowrap;
            &::after{
                display: inline;
                content: attr(data-hover);
                font-size: 0;
                transition: font-size 0.25s;
                white-space: nowrap;
            }
            transition: font-variation-settings 0.25s var(--ease-doublebacktrack);
        }
        &:hover{
            >span{
                &::after{
                    font-size: 1em;
                }
                font-variation-settings: var(--fw-bold);
            }
        }
    }
    >*{
        margin-left: inherit;
        margin-right:inherit;
    }
    
    ::selection{
        background-color: var(--theme-light);
        color: var(--theme-dark);
        text-shadow: none;
    }
}




#page-right{
    flex-grow: 12;
    &.editing{
        display: none;
    }
}

#fps, #main{
    text-shadow: 2px 2px 0px var(--theme-light);
}

#keyset{
    position: fixed;
    z-index: 1;
    left: 0;
    top: var(--header-height);
    /* width: 1ch; */
    display: flex;
    flex-direction: column;
    >p{
        animation: pop-in 0.15s forwards;
    }
}

@keyframes pop-in{
    0%{
        transform: translate(-100%, 0);
        rotate: -25deg;
    }
    35%{
        margin-left: 1ch;
        transform: translate(.35ch, 0);
        rotate: 15deg;
    }
    100%{
        transform: translate(0, 0);
        rotate: 0deg;
    }
}

#main{
    /* background-image: url('../assets/imgs/thing.png');
    background-size: cover; */
    --bg-opacity: 0.7;
    width: var(--main-width);
    max-width: var(--main-width);
    background-color: rgba(var(--theme-light-vals), var(--bg-opacity));
    color: inherit;
    transition: var(--toggle-timing);
    transition-property: background-color, color;
    /* box-shadow: 0px 5px 10px 5px var(--theme-light); */
    border: var(--border);
    border-width: 0 5px;
    h1{
        font-size: 2.5em;
    }
    >section{
        /* backdrop-filter: blur(16px); doesnt do anything */
        /* transform-style: preserve-3d; */
    }
    &.editing{
        max-width: unset;
        flex-grow: 0;
    }
    
    /* redo the borders */
}

#abt-me{
    position: relative;
    padding: 0 10px;
    p{
        line-height: var(--line-height);
        margin-bottom: 1em;
    }
    
}

#branding{
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    justify-content: space-between;

    user-select: none;
    margin-left: -10px;
    transform-style: preserve-3d;
    transform: translateZ(var(--z-offset));

    width: 100%;
    width: calc(100% + 20px);
    max-width: calc(100% + 20px);
    >span.b-ch{
        position: relative;
        
        width: 100%;
        transition: font-variation-settings 0.5s;
        font-size: inherit;
        text-align: center;
        &::before, &::after{
            content: '';
            position: absolute;
            width: 100%;
            pointer-events: none;
            left: 0;
            height: 0px;
        }
        &::before{
            top: 0;
            background-color: var(--theme-dark);
            mix-blend-mode: plus-lighter; /* color */
            transition: height 0.45s cubic-bezier(0.1,0.7,0.3,1);
        }
        &::after{
            bottom: 100%;
            background-color: var(--theme-light-other);
            transition: 0.35s;
            transition-timing-function: ease-in-out
            , cubic-bezier(.65,0,.4,1.2);
            transition-property: height, bottom;

        }
        &:hover/*, &.active */{
            /* text-shadow: none; */
            &::before{
                height: 110%;
            }
            &::after{
                bottom: -10%;
                height: 6px;
            }
        }
        &:hover::before{
            transition-duration: 0.65s;
        }
    }


    &::before, &::after{
        content: '';
        position: absolute;
        background-color: var(--theme-dark);
        height: 6px;
        /* width: 100%; */
        pointer-events: none;
    }
    

    &::before{
        bottom: -10%;
        left: 0;
        animation: border-anim-lr 1s var(--ease-more-in) infinite;
    }
    &::after{
        top: 0;
        left: 0;
        /* animation: border-anim-tb 3s var(--ease-more-in) infinite; */
        height: 0;
        mix-blend-mode: hue;
        /* height: 100%; */
        animation-delay: calc(3s * -1 / 4);
    }
}

:root.dark #branding>.b-ch::before{
    mix-blend-mode: multiply !important;
}
#blog{
    >article{
        line-height: var(--line-height);
        border: var(--border); /*border placeholder*/
        padding: 30px 145px;
        font-size: 0.75em;
        hyphens: auto;
        hyphenate-character: '-ඞ';
        word-wrap: break-word;
        >.post-header{
            margin: 1em 0;
            >.post-misc>p{
                text-indent: 0;
            }
        }
        .post-wordcount{
            text-align: right; 
            margin-right: 1em; 
            margin-left: auto; 
            text-indent: 0;
            border: var(--border);
            border-width: 2px 0;
            width: fit-content;
        }
    
        h1,h2,h3,h4,h5,h6{
            margin: 1em 0;
        }
        p{
            margin: 1em 0;
            text-indent: 2em;
        }
        img{}
        ul{}
        ol{}
        blockquote{}
        code{
            display: block;
            backdrop-filter: brightness(0.5);
            padding: 5px;
            line-height: 100%;
            text-indent: 0;
            hyphens: none;
            min-inline-size: 100%;
        }
        .footnote-list{
                width: 100%;
                display: flex;
                flex-direction: row;
                font-size: 0.5em;
                flex-wrap: wrap;
                gap: 4em;
                >li{
                        max-width: 25%;
                }
        }
        pre{}
        table{}
        figure{}
        figcaption{}
        hr{}
        a{}
        fieldset{
            border-color: var(--theme-dark-other);
            >legend{
                text-decoration: underline;
                text-decoration-thickness: 0.1em;
            }
        }
    }
    >nav{
        display: flex;
        justify-content: space-between;
        >button{
            /* all: unset;
            box-shadow: none;
            background: none;
            border: none;
            text-decoration: none;
            outline: none; */
            all: unset;
            text-decoration: underline;
            font-size: 0.75em;
            cursor: pointer;
        }
    }
}
#demark-bar{
    display: none;
    &.editing{
        display: block;
        height: 100vh;
        width: 2px;
        background-color: rgba(var(--theme-dark-vals), 0.25);
        position: sticky;
        float: right;
        shape-outside: inset(50%);
        top: 0;
        right: var(--main-width);
        
    }
}

#scroll-progress{
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    height: 8px;
    background-color: var(--theme-dark);
    --start-width: 100%;
    width: var(--start-width);
    transition: width 0.5s var(--ease-backtrack);
    transform: skew(30deg);
    --speed: 3s;
    &::before, &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: var(--start-width);
    }
    &::before{
        background-color: var(--theme-light-other);
        animation: border-anim-lr var(--speed) var(--ease-more-in) infinite;
    }
    &::after{
        background-color: rgba(var(--theme-light-vals), .5);
        animation: border-anim-rl var(--speed) var(--ease-more-in) infinite;
        animation-delay: calc(var(--speed) * -1 / 4);
        
    }
}
/* @keyframes border-anim-left{
    0%{
        left: 0;
        width: 0%;
    }
    100%{
        left: 100%;
        width: 0%;
    }
} */

@keyframes border-anim-lr{
    0%{
        left: 0;
        width: 0%;
    }
    25%{
        left: 0%;
        width: 100%;

    }
    50%, 100%{
        left: 100%;
        width: 0%;
    }
}
@keyframes border-anim-tb{
    0%{
        top: 0;
        height: 0%;
    }
    25%{
        top: 0;
        height: 110%;
    }
    50%, 100%{
        top: 110%;
        height: 0%;
    }
}
@keyframes border-anim-rl{
    0%{
        right: 0;
        width: 0%;
    }
    25%{
        right: 0%;
        width: 100%;

    }
    50%, 100%{
        right: 100%;
        width: 0%;
    }
}
@keyframes border-anim-bt{
    0%{
        bottom: 0;
        height: 0%;
    }
    25%{
        bottom: 0;
        height: 100%;
    }
    50%, 100%{
        bottom: 100%;
        height: 0%;
    }
}
.track-outer{
    --z-offset: 10px;
    transform-style: preserve-3d;
    transform: translateZ(var(--z-offset));
    --spin-speed: 100s;
    /* one rev */
    >.cover{
        width: 1100px;
        height: 500px;
        transform-style: preserve-3d;
        transform: translateZ(-20px);
        pointer-events: none;
    }
}
/* have art track, when hover itll stop and enlarge currently hovered img */
/* inspo from tanza (https://tanza.me) */

.track{
    &.editing{
        display: none;
    }
    transform-style: preserve-3d;
    animation: track-spin-1 var(--spin-speed) linear infinite;
    background-color: transparent;
    
    &.track-2{
        --spin-speed: 113.14159s;
        animation: track-spin-2 var(--spin-speed) linear infinite;
        
    }
    &.track-3{
        /* --spin-speed: 1117.159s; */
        --size: 700px;
        /* animation: track-spin-3 var(--spin-speed) linear infinite; */
    }
    &.last::before{
        content: 'artz';
        position: absolute;
        top: 2.5em;
        left: 50%;
        transform: translateX(-50%) rotateY(-45deg);
        font-weight: bold;
        font-size: 2.5em;
        text-shadow: 3px 3px 0px var(--theme-dark);
        color: var(--theme-light);
        transition: color 0.75s var(--ease-more-in);
    }
    
    position: absolute;
    --size: 300px; /* height */
    right: calc(var(--size) * -1);
    top: 0;
    --width: calc(var(--size) * 0.8165);
    /* sqrt(2)/sqrt(3), stay in school kids, at least i think this is right or soemthing */
    outline: 3px rgb(var(--theme-dark-vals), 0.1) dashed;
    --aspect-ratio: 4/3;
    width: var(--width);
    aspect-ratio: var(--aspect-ratio);
    transform-origin: 50% 50%;
    pointer-events: none;
    &.other{
        animation-delay: calc(var(--spin-speed) * -17 / 16);
    }
    &:not(.backface)>div:hover{
        opacity: 1;
        pointer-events: none;
        >div.t-img:hover{
            pointer-events: all;
            height: unset;
            transform: rotateX(-10deg) 
                translate3d(-10%, -50%, 
                calc(0.1736 / 2 * var(--width) / (var(--aspect-ratio))));
                /* sin(rotateX deg) */
            opacity: 1;
            perspective: 2000px;
            /* perspective-origin: ; */
            width: 200%;
            >div{
                --anim-speed: 3s;
                pointer-events: all;
                opacity: 1;
                transform: translate3d(-90%, 50%, 50px) rotateX(-10deg) rotateZ(-15deg) rotateY(10deg);
                &::before{ 
                    animation: border-anim-rl var(--anim-speed) var(--ease-more-in) infinite;
                    animation-delay: calc(var(--anim-speed) * -3 / 4);
                }
                &::after{
                    animation: border-anim-bt var(--anim-speed) var(--ease-more-in) infinite;
                    animation-delay: calc(var(--anim-speed) * -4 / 4);
                }
                >.t-img-desc{
                    display: block;
                    opacity: 1;
                    &::before{ 
                        animation: border-anim-lr var(--anim-speed) var(--ease-more-in) infinite;
                        animation-delay: calc(var(--anim-speed) * -1 / 4);
                    }
                    &::after{
                        animation: border-anim-tb var(--anim-speed) var(--ease-more-in) infinite;
                        animation-delay: calc(var(--anim-speed) * -2 / 4);
                    }
                }
            }
        }
    }
    >div{
        position: absolute;
        pointer-events: all;
        >div.t-img{
            display: flex;
            align-items: center;
            user-select: none;
            width: 100%;
            height: 100%;
            background-image: var(--bg-url);
            background-position: center;
            background-size: cover;
            /* box-shadow: 0px 5px 10px 5px var(--theme-light); dont use will lag */
            /* animation: track-rotate-match var(--spin-speed) linear infinite; */
            transition-property: transform, perspective;
            transition-duration: 0.25s, 0.55s;
            transition-timing-function: var(--ease-backtrack), ease-out;
            perspective: 100px;
            >div{
                --border-offset: 0;
                transform: translate3d(100px, 100px, 1500px) rotateX(60deg) rotateY(30deg);
                transition-property: transform, opacity;
                /* transition: 0.75s var(--ease-doublebacktrack); set by javascirpt */
                opacity: 0;
                pointer-events: none;
                width: var(--size);
                >.t-img-desc{
                    margin: auto 0;
                    padding: 2px 5px;
                    /* max-width: 50%; */
                    background-color: rgba(var(--theme-light-vals), .85);
                    word-wrap: break-word;
                    &::before{
                        top: 100%;
                        left: 0;
                    }
                    &::after{
                        top: 0;
                        left:0;
                    }
                }
                &::before, &::after,
                >.t-img-desc::before,
                >.t-img-desc::after{
                    /* content: ':3'; hmm*/
                    content: ':o';
                    opacity: 0.55;
                    white-space: nowrap;
                    position: absolute;
                    background-color: rgba(var(--theme-dark-vals),1);
                    height: 5px;
                    width: 5px;
                }
                &::before{
                    bottom: 100%;
                    right: 0;
                }
                &::after{
                    bottom: 0;
                    right:  0;
                }
            }
            
        }
        opacity: 0.9;
        backface-visibility: hidden;
        width: var(--width);
        aspect-ratio: var(--aspect-ratio);
        transform-style: preserve-3d;
        &.left{
            transform: rotateY(-90deg);
            margin-left: calc(var(--size) * -1);
        }
        &.right{
            transform: rotateY(90deg);
            margin-left: calc(var(--size) * 1);
        }
        &.front{
            transform: translateZ(var(--size));
        }
        &.back{
            transform: translateZ(calc(var(--size) * -1)) rotateX(180deg) 
            scale(-1);
        }
    }
    &.backface>div{
        pointer-events: none;
        /* outline: 3px solid red; */
        /* for behind shadowing */
        backface-visibility: visible;
        >.t-img{
            opacity: 0.25;
        }
    }
    
}
@keyframes track-rotate-match{
    0%{
        transform: rotateY(540deg)translateZ(30px) translate(-0%, -50%);
    }
    100%{
        transform: rotateY(180deg)translateZ(30px) translate(-0%, -50%);
    }
}

@keyframes track-hover{
    0%{
        transform: translateY(0px)   translateZ(110px);
    }
    100%{
        transform: translateY(100px) translateZ(110px);
    }
}

@keyframes track-spin-1{
    0%{
        transform: translateY(450px) rotateX(5deg) rotateZ(15deg) translateX(50px) 
        rotateY(0deg);
    }
    100%{
        transform: translateY(450px) rotateX(5deg) rotateZ(15deg) translateX(50px) 
        rotateY(720deg);
    }
}
/* offset above, rotate opposite

tilt 15deg z, 5deg x
height is 

also extra 5 deg x rotate so it doesnt interfere with other one

*/
@keyframes track-spin-2{
    0%{
        transform: translateY(249.17px) translateZ(-18.19px) translateX(104.01px) rotateX(10deg) rotateZ(15deg)
        rotateY(900deg);
    }
    
    100%{
        transform: translateY(249.17px) translateZ(-18.19px) translateX(104.01px) rotateX(10deg) rotateZ(15deg)
        rotateY(180deg);
    }
}
@keyframes track-spin-3{
    0%{
        transform: translateY(249.17px) translateZ(-18.19px) translateX(-250px) rotateX(10deg) rotateZ(105deg)
        rotateY(900deg);
    }
    100%{
        transform: translateY(249.17px) translateZ(-18.19px) translateX(-250px) rotateX(10deg) rotateZ(105deg)
        rotateY(180deg);
    }
}

#blog::before{
    content: "~~∫~~";
    display: block;
    text-align: center;
    /* font-size: 2em; */
    margin: 0 auto;
}

.globe {

    transform-style: preserve-3d;
    perspective: 2400px;
    position: relative;
    --speed: 60s;
    width: 410px;
    height: 410px;
    mask-image: radial-gradient(#fff 50%, #fffa, #fff 70%);
}

.globe > * {
    top: 5px;
    left: 5px;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    border: 2px solid white;
    background: radial-gradient(#fff5, #fff0);
}

.globe .x1 {
    animation: globespin1 var(--length) infinite ease-out;
}

.globe .x2 {
    animation: globespin2 var(--length) infinite ease-out;
}

.globe .x3 {
    display: none;
    animation: globespin3 var(--length) infinite ease-out;
}

@keyframes globespin1 {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }

    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

@keyframes globespin2 {
    0% {
        transform: rotate3d(0, 1, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 1, 1, 360deg);
    }
}

@keyframes globespin3 {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

