/* themes for page at theme.css */
:root{
    --section-border-w: 2px;
}
#again-menu{
    /* position: absolute; */
    /* display: none; */
    top: 0;
    left: 0;
    z-index: 0;
    button{
        width: 100px;
        height: 100px;
    }
}
#container{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: min-content;
    margin: 0 auto;
    border: var(--section-border-w) var(--theme-dark) solid;
    padding: 2px;
    #off-left, #off-right, #main{
        >section{
            padding: 0;
            border: var(--section-border-w) solid var(--theme-dark);
            min-height: fit-content;
            /* backdrop-filter: blur(5px); */
            /* clear: both; */
            margin: 5px;
            /* background-color: var(--theme-light); */
            
        }
        >section::after{
            content: "";
            display: table;
            clear: both;
        }
    }
}
/* main content */
#main{
    width: 900px;
    >section{
        /* height: fit-content; */
    }
}
#off-left{
    width: 200px;
}
#off-right{
    width: 200px;
}
/* me section */
#me-img{
    width: 100px;
    height: 100px;
    float: left;
}

#me-text{
    text-align: right;
    p{
        font-size: 0.5em;
        margin: 0.5em 0;
    }
}

.link{
    font-family: cascadia-bold, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    /* maybe have special color for this latersz */
}

/* cd sec */
#cd-player{
    width: calc(338px / 2);
    aspect-ratio: 1/2;
    margin-left: 10px;
    float: right;
    position: relative;
    >#cd-controls{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
        justify-content: space-evenly;
        align-items: first baseline;
        padding: 0;
        >button{
            width: 50px;
            height: 50px;
            background-color: var(--theme-light);
            color: var(--theme-dark);
            border: none;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            margin: 5px;
            margin-left: 0;
            margin-bottom: 0;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.5s;
            >p{
                margin: 0;
            }
            &:not(:disabled):hover{
                background-color: var(--theme-tertiary);
            }
        }
    }
}

#cd-cover{
    &::before{
        /* content: "bee cd industries™™™"; */
    }
    background-color: black;
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.cd{
    z-index: -1;
    width: 338px;
    height: 338px;
    position: absolute;
    top: 0;
    /* left: 0; */
    right: -100%;
    >img{
        width: 100%;
        height: 100%;
        clip-path: url("../assets/imgs/cd-main.svg#cd-clip");
        rotate: 0deg;
        position: relative;
    }
    /* &.playing{
        animation: spin 5s linear infinite forwards;
    } */
    
}
.cd::before{
    content: "";
    display: block;
    width: 338px;
    height: 338px;
    background-image: url("../assets/imgs/cd-overlay.svg");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }    
}

/* blog section */

#blog-section{
    max-height: fit-content;
    backdrop-filter: none;
    >iframe{
        
    }
}
#blog-iframe-container{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 10px;
    bottom: 10px;
}
#blog-editor{
    width: 100%;
    height: 500px;  
}
#editor-output{
    border: 3px solid var(--theme-purple);
}

/* artz */
@keyframes rainbow-border{
    0% {
        border-color: var(--theme-red);
    }
    16.67% {
        border-color: var(--theme-orange);
    }
    33.33% {
        border-color: var(--theme-yellow);
    }
    51% {
        border-color: var(--theme-green)
    }
    66.67% {
        border-color: var(--theme-blue);
    }
    83.33% {
        border-color: var(--theme-purple);
    }
    100% {
        border-color: var(--theme-pink);
    }
}
@keyframes border-flash{
    from{
        border: 5px dashed;
        border-width: 5px;
    }
    to {
        border: 10px dashed;
        border-width: 10px;
    }
}
@keyframes border-flash-match{
    from{
        transform: translate(-5px, 0);
    }
    to{
        transform: translate(0, -5px);
    }
}

#artz-section{
    padding: 0 15px !important;
    border: calc(4 * var(--section-border-w)) double var(--theme-dark) !important;
}
#artz{
    columns: 2;
    >button{
        padding: 0;
        border: 0;
        border: var(--section-border-w) double var(--theme-dark);
        background: none;
        >:hover{
            cursor: pointer;
        }
        >div{
            line-height: 0;
            >.caption{
                display: none;
                line-height: normal;
                text-overflow: clip;
            }
        }
    }
    >button:focus-within >div{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;

        >img{
            max-height: 80vh;
            max-width: 90vw;
            box-sizing: content-box;
            /* border: dashed var(--theme-dark) 5px; */
            animation: border-flash 0.5s infinite steps(2), rainbow-border 2.5s infinite linear;
        }
        >.caption{
            display: block;
            border: 10px double var(--theme-blue);
            border-top: 0px;
            background-color: var(--theme-light);
            margin-left: calc(10px - 0px);
            margin-top: calc(-5px - 0px);
            padding: 0 15px;
            width: max-content;
            height: max-content;
            font-size: 1.5em;
            animation: border-flash-match 0.5s infinite steps(2)
        }
    }
}

#artz-nav-t,
#artz-nav-b{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    >button{
        >:hover{
            cursor: pointer;
            color: var(--theme-blue);
            text-decoration-color: var(--theme-blue);
        }
        font-size: inherit;
        background: none;
        border: none;
        font-weight: bold;
        text-decoration: underline;
        
    }
}

