:root {
    --theme-primary: rgb(255, 241, 124);
    --theme-secondary: rgb(245, 52, 133);
    --theme-tertiary: rgb(85, 153, 255);
    --theme-green: rgb(54, 224, 153);
    --theme-purple: rgb(136, 99, 223);
    --theme-orange: rgb(231, 190, 75);
    --theme-pink: rgb(245, 96, 158);
}
html{
    height: 100%;
}
body{
    background: var(--theme-primary);
    color: var(--theme-secondary);
    font-family: 'atrament', Courier, monospace;
    font-size: 2em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10000px;
    overflow-y: scroll;
    overflow-x: scroll;
    image-rendering: auto;

}
img{
    max-width: 100%;
    max-height: 100%;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
#again-menu{
    /* position: absolute; */
    /* display: none; */
    top: 0;
    left: 0;
    z-index: 0;
    button{
        width: 100px;
        height: 100px;
    }
}
#container{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: min-content;
    margin: 0 auto;
    border: 2px black solid;
    padding: 2px;
    #off-left, #off-right, #main{
        >section{
            padding: 0;
            border: 2px solid black;
            min-height: fit-content;
            /* clear: both; */
            margin: 5px;
            background-color: var(--theme-primary);
            
        }
        >section::after{
            content: "";
            display: table;
            clear: both;
        }
    }
}
/* main content */
#main{
    width: 800px;
    >section{

    }
}
#off-left{
    width: 200px;
}
#off-right{
    width: 200px;
}
/* me section */
#me-img{
    width: 100px;
    height: 100px;
    float: left;
}

#me-text{
    text-align: right;
}

#cd-player{
    width: calc(338px / 2);
    aspect-ratio: 1/2;
    margin-left: 10px;
    float: right;
    position: relative;
    >#cd-controls{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >button{
            width: 50px;
            height: 50px;
            background-color: var(--theme-secondary);
            color: var(--theme-primary);
            border: none;
            border-radius: 50%;
            margin: 5px;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.5s;
            >p{
                margin: 0;
            }
            &:hover{
                background-color: var(--theme-tertiary);
            }
        }
    }
}

#cd-cover{
    &::before{
        content: "sigma cd industries™™™";
    }
    background-color: black;
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.cd{
    z-index: -1;
    width: 338px;
    height: 338px;
    position: absolute;
    top: 0;
    /* left: 0; */
    right: -100%;
    >img{
        width: 100%;
        height: 100%;
        clip-path: url("../assets/imgs/cd-main.svg#cd-clip");
        rotate: 0deg;
        position: relative;
    }
    /* &.playing{
        animation: spin 5s linear infinite forwards;
    } */
    
}
.cd::before{
    content: "";
    display: block;
    width: 338px;
    height: 338px;
    background-image: url("../assets/imgs/cd-overlay.svg");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }    
}

/* blog section */

#blog-section{

}
#blog-editor{
    width: 100%;
    height: 500px;  
}
#editor-output{
    border: 3px solid var(--theme-purple);
}