@font-face {
    font-family: 'maniac-reg';
    src: url('../assets/fonts/manic-reg.woff') format('opentype');
}
@font-face {
    font-family: 'cascadia';
    src: url('../assets/fonts/CascadiaCode.ttf') format('truetype-variations');
    font-weight: 200 700;
    font-variation-settings: 'wght' 200 700;
}
@font-face {
    font-family: 'cascadia-bold';
    src: url('../assets/fonts/CascadiaCodeBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'cascadia-light';
    src: url('../assets/fonts/CascadiaCodeLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'cascadia-italic';
    src: url('../assets/fonts/CascadiaCode-Italic.ttf') format('truetype');
    font-weight: 200 700;
    font-variation-settings: 'wght' 200 700;
    font-style: italic;
}
@font-face {
    font-family: 'toshiba';
    src: url('../assets/fonts/Toshiba8x14.woff') format('woff');
    font-weight: 400;
}
@font-face{
    font-family: 'MuseoModerno';
    src: url('../assets/fonts/MuseoModerno.ttf') format('truetype-variations');
    font-weight: 100 700;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 10deg;
}
:root {
    /* --theme-light: rgb(255, 241, 124);
    --theme-dark: rgb(245, 52, 133); */
    /* --theme-light: #d3d3d3;
    --theme-dark: #030623;
    --theme-tertiary: #fdefcc; */

    /* main theme colors */
    /* light */
    --theme-white-vals: 220, 233, 248;
    --theme-black-vals: 9, 29, 44;
    --theme-white: rgb(var(--theme-white-vals));
    --theme-black: rgb(var(--theme-black-vals));
    /* dark */
    --comp-purple-vals: 114, 111, 255;
    --comp-orange-vals: 255, 217, 0;
    --comp-purple: rgb(var(--comp-purple-vals));
    --comp-orange: rgb(var(--comp-orange-vals));


    --theme-light-test: rgb(220, 233, 248);
    --theme-light-vals: var(--theme-white-vals);
    --theme-light: rgb(var(--theme-light-vals));
    --theme-dark-test: rgb(9, 29, 44);
    --theme-dark-vals: var(--theme-black-vals);
    --theme-dark: rgb(var(--theme-dark-vals));


    --theme-blue-vals: 85,153,255;
    --theme-green-vals: 54,224,153;
    --theme-tertiary: rgb(211, 211, 211);
    --theme-blue: rgb(var(--theme-blue-vals));
    --theme-green: rgb(var(--theme-green-vals));
    --theme-purple: rgb(136, 99, 223);
    --theme-orange: rgb(231, 190, 75);
    --theme-pink: rgb(245, 96, 158);
    --theme-yellow: rgb(255, 255, 119);
    --theme-red: rgb(255, 85, 85);
    --theme-shade: rgba(0, 0, 0, 0.5);
    --ease-more-in: cubic-bezier(1, 0, 0.542, 1);
    --ease-more-out: cubic-bezier(0, 1, .542, 1);
    --ease-lessout: cubic-bezier(0.36, 1, 0.36, 1);
    --ease-backtrack: cubic-bezier(.5,1.5,.5,1);
    --ease-doublebacktrack: cubic-bezier(.75,-.4,.2,1.2);
    --ease-backtrack-test: cubic-bezier(.75,-.4,.2,1.); /* breaks the transition funny*/
    --border: double var(--theme-dark);
    /* maybe do border sides like https://natu.moe/cool */
    --toggle-timing: 0.75s var(--ease-backtrack);

    --theme-light-other-vals: var(--comp-purple-vals);
    --theme-dark-other-vals: var(--comp-orange-vals);
    --theme-light-other: rgb(var(--theme-light-other-vals));
    --theme-dark-other: rgb(var(--theme-dark-other-vals));
    --line-height: 1.3em;
    --min-fw: 200;
    --max-fw: 700;
    --nor-fw: 400;
    --fw-light: 'wght' var(--min-fw);
    --fw-normal: 'wght' var(--nor-fw);
    --fw-bold: 'wght' var(--max-fw);
    &.dark{
        --theme-light-vals: var(--comp-purple-vals);
        --theme-light: rgb(var(--theme-light-vals));
        --theme-dark-vals: var(--comp-orange-vals);
        --theme-dark: rgb(var(--theme-dark-vals));
        --theme-light-other-vals: var(--theme-white-vals);
        --theme-dark-other-vals: var(--theme-black-vals);
    }
}
html{
    height: 100%;
}
body{
    background-color: var(--theme-light);
    color: var(--theme-dark);
    font-family: cascadia, sans-serif;
    font-size: 2em;
    font-weight: normal;
    font-variation-settings: var(--fw-normal);
    padding: 0;
    margin: 0;
    width: auto;
    height: fit-content;
    min-height: max-content;
    image-rendering: auto;
}

::selection, ::-moz-selection {
    background-color: var(--theme-dark);
    color: var(--theme-light);
    text-shadow: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}
br{
    line-height: 2.25em;
}
code{
    font-family: monospace;
}
h1, h2, h3, h4, h5, h6{
    font-family: cascadia;
    font-variation-settings: var(--fw-bold);
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ol, ul{
    margin: 0;
    /* padding: 0; */
}
p{
    font-size: 0.85em;
}
a{
    color: var(--theme-dark);
}
iframe{
    overflow: hidden;
}
/* todo: have a 2d marquee array that shows a slice of the buttons as the button array bouces around dvd logo style*/

@keyframes marquee{
    from{
        padding-left: 0%;
    }
    to{
        padding-left: 100%;
    }
}
@keyframes marquee-rev{
    0%{
        padding-left: 100%;
    }
    50%{
        padding-left: 0%;
    }
    100%{
        padding-left: 100%;
    }
}

::-webkit-scrollbar {
    width: 0.5em;
  }

::-webkit-scrollbar-track {
    background-color: var(--theme-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-light-other);
    height: 2.67em;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    border-left: .5em double var(--theme-light);
    background-color: var(--theme-dark)
}

.comic-sans{
    font-family: 'Comic Sans MS', "Comic Sans", cascadia-light, sans-serif;
}
.museo-moderno{
    font-family: 'MuseoModerno', cascadia-light, sans-serif;
    font-weight: normal;
}

.marquee{
    /* overflow: hidden; make sure to apply overflow hidden to this container*/
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation: marquee 10s linear infinite;
}
.marquee-rev{
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    animation: marquee-rev 20s linear infinite;
}
.marquee-rev-full{
    white-space: nowrap;
    min-width: 100%;
    animation: marquee-rev-full 30s linear infinite;
}
.marquee-stop:hover{
    animation-play-state: paused;
}
.shade{
    color: var(--theme-shade);
}
.half-font{
    font-size: 0.5em;
}
.quar-font{
    font-size: 0.25em;
}